@font-face {
  font-family: 'PacFont';
  src: url('crackman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arcade';
  src: url('prstartk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#pacman {
  height:700px;
  width:484px;
}

#shim {
  font-family: PacFont;
  position:absolute;
  visibility:hidden
}

.pacman-container {
  border: 3px solid yellow;
  border-radius: 10px;
  height: 595px;
  width: 485px;
  margin: 0 auto;
}

h1 {
  font-family: PacFont;
  font-size: 48px;
  text-align:center;
  color: yellow;
  margin: 10px 0;
}

body {
  margin: 0 auto;
  width: 684px;
  font-family: sans-serif;
  background-color: black;
}

a {
  text-decoration:none;
}

.links {
  color: white;
  font-size: 14px;
  position: absolute;
  transform: translate(615px, -385px);
  width: 156px;
  border: 3px solid white;
  padding: 10px 20px;
  list-style: none;
  font-family: Arcade;
  line-height: 30px;
  text-align: center;
}

.link {
  color: yellow;
  text-decoration: underline;
}

.instructions {
  color: white;
  font-size: 14px;
  position: absolute;
  transform: translate(-150px, 120px);
  width: 156px;
  border: 3px solid white;
  padding: 10px 30px;
  list-style: none;
  font-family: Arcade;
  line-height: 18px;
  text-align: center;
}

.underline {
  text-decoration: underline;
  font-size: 12px;
}

.author {
  color: #40FF33;
  font-family: Arcade;
  text-align: center;
  font-size: 10px;
  margin: -10px 0 10px 0;
}
